*{
    margin: 0px;
    padding: 0px;
}

.banner-container{
    height: 100vh;
    width: 100%;
    background-image: url(/images/banner2.png),linear-gradient(rgb(105, 96, 96) ,rgb(193, 194, 193));
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
}
.bnr-description{
    text-align: end;
    margin: 50px 35px;
    padding: 25px 50px;
}